*
!*/
!*.*
.vscode
/Debug
/.vs
Debug
.vs
*/Debug
*/.vs
Coursera lections
RedBelt/VS Code/WEEK2/express/output.txt
RedBelt/VS Code/WEEK2/express/output2.txt
RedBelt/VS Code/WEEK2/read-book/input.txt
RedBelt/VS Code/WEEK2/read-book/output.txt
RedBelt/VS Code/WEEK2/read-book/output2.txt
RedBelt/VS Code/WEEK2/hotel/defaultInput.txt
RedBelt/VS Code/WEEK2/hotel/input.txt
RedBelt/VS Code/WEEK4/input.txt
RedBelt/VS Code/WEEK4/output.txt
RedBelt/VS Code/WEEK4/test.cpp
